{{ item.path }}/{{ item.file | default(logrotate_default_file) }} {
{% if item.options is defined %}
{% for option in item.options %}
  {{ option }}
{% endfor %}
{% else %}
{% for option in logrotate_default_options %}
  {{ option }}
{% endfor %}
{% endif %}
{% if item.scripts is defined %}
{% for script in item.scripts %}
  {{ script.name }}
    {{ script.script | indent(4,false) }}
  endscript
{% endfor %}
{% endif %}
}
